<launch>
    <node
        pkg="turtlesim"
        type="turtlesim_node"
        name="my_turtle"
    />
    <node
        pkg="turtlesim_control_tf"
        type="send_random_goal.py"
        name="send_goal"
    />
    <node
        pkg="turtlesim_control_tf"
        type="turtle_frame_broadcaster.py"
        name="tf2_turtle_broadcaster"
    />
    <node
        pkg="turtlesim_control_tf"
        type="turtle_frame_listener.py"
        name="move2goal"
    />

    
</launch>
